{% extends "partner/partner-base.html" %}

{% block content %}
    <h2 class="pt-5 pb-3 text-dark">Order History</h2>
    {% if messages %}
        <div class="alert alert-info mt-4 mb-4" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% if orders %}

        {% csrf_token %}
        <div class="table-responsive mt-5">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Ordered On</th>
                    <th>Item Count</th>
                    <th>Total</th>
                    <th>Delivered On</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer.username }}</td>
                        <td>{{ order.customer.name }}</td>
                        <td>{{ order.created_on }}</td>
                        <td>{{ order.item_count }}</td>
                        <td>&#8377; {{ order.total }}</td>
                        {% if order.delivered_on %}
                            <td>{{ order.delivered_on }}</td>
                        {% else %}
                            <td>Not yet delivered</td>
                        {% endif %}
                        <td>{{ order.status.capitalize }}</td>
                        {% if order.delivered_on or order.status == 'prepared' or order.status == 'picked-up'%}
                            <td>No actions</td>
                        {% else %}
                            <td><a class="btn btn-primary btn-sm" role="button"
                                   href="{% url 'partner-order-details' order_id=order.id %}">Review</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </form>
    {% else %}
        <p>No orders to show.</p>
    {% endif %}
{% endblock %}