{% extends "partner/partner-base.html" %}

{% block content %}
    <h2 class="pt-5 pb-3 text-dark">Settings</h2>
    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="mt-4">
        <h5 class="h5 mb-4">Use the button to toggle if the restaurant is currently serving.</h5>
        <form method="post" action="{% url 'partner-settings' %}">
            {% csrf_token %}
            {% if restaurant.is_serving %}
                <h3 class="h3 font-weight-bold text-success"><i class="icon-check m-auto"></i> Serving Now
                </h3>
            {% else %}
                <h3 class="h3 font-weight-bold text-danger"><i class="icon-close m-auto"></i> Not Serving
                </h3>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-4" name="toggle-is-serving"
                    value="{{ restaurant.is_serving }}">Toggle Status
            </button>
        </form>
    </div>
{% endblock %}