<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'partner-all-orders' %}">
                    <span class="icon-list m-auto text-dark"></span> All Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="icon-clock m-auto text-dark"></span> Pending Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="icon-magic-wand m-auto text-dark"></span> Orders Being Prepared
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="icon-calendar m-auto text-dark"></span> Past Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="icon-globe m-auto text-dark"></span> Events
                </a>
            </li><li class="nav-item">
                <a class="nav-link" href="{% url 'partner-settings' %}">
                    <span class="icon-equalizer m-auto text-dark"></span> Settings
                </a>
            </li>
        </ul>
    </div>
</nav>