{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zoup - Events</title>
    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">

    {% include 'head-common.html' %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">

</head>

<body>

{% include 'navbar.html' %}

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row masthead-content">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-5 shadowed">Where to eat. Offers and upcoming events.<br>Your favourite food delivered to
                    your
                    doorstep.<br>
                    All on <span class="masthead-em logo-sm text-light">ZOUP!</span></h2>
            </div>

            <div class="col-md-10 col-lg-8 col-xl-8 mx-auto">
                <form action="{% url 'event-list' %}" method="get">
                    <div class="form-group row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" class="form-control form-control-lg"
                                   placeholder="Search for restaurants" name="q">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</header>

<section class="container pt-5">
    {% if q %}
        <h1 class="h1 mt-4"><span class="font-weight-bold">Search results</span> for keyword <span
                class="text-muted">{{ q }}</span></h1>
        <hr>
    {% endif %}
    <h1 class="h1 mt-5">Events</h1>
    <hr>
    {% if not events %}
        <h5 class="h5 mb-5">No events found.</h5>
    {% else %}
        {% for event in events %}
            <div class="card mb-5">
                <h5 class="card-header font-weight-bold">{{ event.name }}</h5>
                <div class="card-body">
                    <p class="card-title text-muted">{{ event.description }}</p>
                    <p class="card-title"><i
                            class="icon-location-pin m-auto text-primary"></i>&nbsp;{{ event.venue }}</p>
                    <p class="card-text text-info"><i class="icon-calendar m-auto"></i>&nbsp;{{ event.from_date }} -
                        {{ event.to_date }}</p>
                    <p class="card-title"></p>

                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Zoup! 2020. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>