<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'staff-all-pickups' %}">
                    <span class="icon-list m-auto text-dark"></span> All Pickups
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="icon-calendar m-auto text-dark"></span> Past Pickups
                </a>
            </li>
        </ul>
    </div>
</nav>