{% extends "staff/staff-base.html" %}

{% block content %}
    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <h4 class="h4">Order Details</h4>
    <h5 class="h5 text-muted mt-3">Order from {{ order.restaurant }}</h5>
    <hr>
    <ul>
        <li>Order ID: {{ order.id }}</li>
        <li>Customer Username: {{ order.customer.username }}</li>
        <li>Customer Name: {{ order.customer.name }}</li>
        <li>Order Created On: {{ order.created_on }}</li>
        <li>Order Item Count: {{ order.item_count }}</li>
        <li>Order Total: &#8377; {{ order.total }}</li>
        {% if order.delivered_on %}
            <li>Delivered On: {{ order.delivered_on }}</li>
        {% else %}
            <li>Delivered On: Not yet delivered</li>
        {% endif %}
        <li>Order Status: {{ order.status.capitalize }}</li>
        <li>Payment Method: {{ order.payment_type.capitalize }}</li>
        <li>Payment Status: {{ order.payment_status.capitalize }}</li>
    </ul>

    <h4 class="h4 mt-5">Order Items</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>&#8377; {{ item.item.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-2 mb-2 text-muted">You can only pick up and change status of orders that have been prepared. Once
        delivered, the status cannot be changed again.
    </div>

    {% if order.status == 'prepared' or order.status == 'picked-up' %}
        <h3 class="h3">Update Order Status</h3>
        <form class="mt-4" method="post" action="{% url 'staff-pickup-details' order_id=order.id %}">
        {% csrf_token %}
        {% if order.status == 'prepared' %}
            <p>Pick this order up!</p>
            <button type="submit" class="btn btn-primary mt-4" name="order-status" value="picked-up">
                Pick Up
            </button>
        {% elif order.status == 'picked-up' %}
            {% if order.payment_type == 'cash-on-delivery' %}
                <button type="submit" class="btn btn-primary mt-4" name="order-status" value="delivered">
                    Received Cash and Delivered
                </button>
            {% else %}
                <button type="submit" class="btn btn-primary mt-4" name="order-status" value="delivered">
                    Delivered
                </button>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}